body {
	font-family: sans-serif;
}

h1 {
	font-size: 175%;
	line-height: 2;
}

h2 {
	font-size: 150%;
	line-height: 1.5;
}

h3 {
	font-size: 130%;
	line-height: 1.3;
}

ul {
	margin-left: 1em;
}

p {
	line-height: 1.1;
}